:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(20, 20, 20);
  background-color: #f0f0f0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
