.tickets-page {
    height: 90%;
    width: 90%;
    border: 2px solid rgb(117, 117, 117);
}

.page-title {
    margin: 0;
    margin-left: 5%;

    font-family: "Share Tech", sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(21, 21, 21);
}