.list-container {
    display: flex;
    justify-content: center;
}

.tickets-list {
    /* border: 1px solid green; */

    width: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}